<h2>Insciption</h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), wrapper: :vertical_input_group) do |f| %>
  <%= devise_error_messages! %>

  <%= f.input :email %>
  <%= f.input :name %><br />
  <%= f.input :password, hint: "#{@minimum_password_length} characteres minimum", required: true %>
  <%= f.input :password_confirmation, required: true %>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
